[2015-06-08 11:57] jose-cardoso opened #13 "Lack of proxy support"
Unable to use TDNF behind a proxy despite having configured the correct proxy setting in /etc/tdnf/tdnf.conf and via environment variables.

Proxy support exists in DNF so a little surprised TDNF is missing it.

[2015-06-08 20:23] ppadmavilasom commented on #13
@jose-cardoso: confirmed missing proxy conf. Will fix and update.

[2015-06-11 22:27] ppadmavilasom commented on #13
@jose-cardoso: Updated in dev fork. Would you mind testing this from the https://github.com/ppadmavilasom/tdnf ?

[2015-06-11 22:44] hickeng opened #14 "Does not handle multiple packages for install specified on command line"
Found when running in a docker container based of vmware/photon. All but the first package specified for install are ignored, not installed yet the command returns success.:

Step 3 : RUN tdnf install -y grep gawk docker
 ---> Running in 130c8f7412e3
Installing:
 grep   x86_64  2.21-1
Downloading 223390.00 of 223390.00
Testing transaction
Running transaction
 ---> 1e560ccfbc85
Removing intermediat

[2015-06-12 09:31] jose-cardoso commented on #13
Tested as requested and confirmed as working. Thank you.

Looking forward to an ISO update with this new build included!

[2015-06-12 09:31] #13 closed

[2015-08-14 12:08] tjyang opened #19 "On Fedora 22, glibconfig.h: No such file or directory"
[code]

[2015-08-17 16:59] ppadmavilasom commented on #19
Please refer to this pull request (unmerged - i will cross reference your issue there)  https://github.com/vmware/tdnf/pull/9

[2015-09-09 23:27] mattolenik opened #22 "tdnf install returns error 137 if package is installed"
I'm installing prereqs with tdnf with containers running the Photon base image, and several times I've had my build break because new packages were introduced into the base image that I used to install in my scripts. E.g. I used to say "tdnf install -y grep" but now that fails because grep already exists. I think tdnf should work like other package managers and return 0 for "nothing to do" rather

[2015-09-10 21:09] ppadmavilasom commented on #22
Agree. Should fix by 1.0.4

[2015-10-06 20:31] ppadmavilasom commented on #22
Fixed in 1.0.4 - If installed and of the same version, there is no error. If installed and a newer version is available, will be updated (with -y)

[2015-10-13 21:19] ppadmavilasom opened #25 "search should consider all enabled repos"
Was reviewing installroot change and ran into this - it seems search creates a new sack and only loads system repo. It should reuse existing sack so the search can operate on all enabled repos.

This line creates a new sack instead of reuse.
https://github.com/vmware/tdnf/blob/master/client/api.c#L763

[2015-10-14 21:56] luiszun opened #28 "make install copies libs to wrong/forced path"
When running make install, libraries are copied to /usr/local/lib, whereas the environment might be set up for /usr/lib (as Photon does)

[2015-10-15 17:20] ppadmavilasom commented on #28
use configure with the --prefix=/usr like the spec does.

[2015-10-16 18:02] #28 closed

[2015-10-21 00:10] toliaqat opened #32 "Installing already installed package returns non-zero error code"
## Steps to repro:
[code]
### Expected error code of command number 5 is 0
### Actual error code of command number 5 is 137

[2015-10-21 14:58] ppadmavilasom commented on #14
Fix by 1.0.5

[2015-10-21 15:01] ppadmavilasom commented on #22
Not fixed. Should be in by 1.0.5 together with tests.

[2015-10-21 17:21] ppadmavilasom commented on #25
Fixed https://github.com/vmware/tdnf/pull/30

[2015-10-21 17:21] #25 closed

[2015-10-21 17:25] ppadmavilasom opened #34 "Check for available size before download/install"
@YustasSwamp reports this. Check for available size before download/install and throw appropriate errors if not enough space to perform action.

[2015-10-26 18:37] casualjim opened #39 "distro-sync missing?"
[code]

then next:

[code]

[2015-10-26 18:42] ppadmavilasom commented on #39
@casualjim supported in version 1.0.4 - available with photon tp2 updates here - https://dl.bintray.com/vmware/photon_updates_1.0_TP2_x86_64

tdnf update tdnf

tdnf --version (make sure 1.0.4)

tdnf distro-sync

[2015-10-26 18:55] casualjim commented on #39
thanks

[2015-10-26 18:55] #39 closed

[2015-10-26 19:01] ppadmavilasom commented on #32
Closing as dup of #22

[2015-10-26 19:01] #32 closed

[2015-11-20 23:07] mattolenik opened #43 "tdnf distro-sync doesn't work"
...

[code]

[2015-11-21 00:33] ppadmavilasom commented on #43
This is available in TP2. Please update to tdnf-1.0.4 and try

[2015-11-21 00:49] mattolenik commented on #43
Is that not what's available in the latest vmware/photo container on the Docker Hub? I'm running inside a container and hitting this. I even see "distro-sync" in the list of commands, but running it returns an error. It works on a TP2 VM I have.

[2015-11-21 00:55] ppadmavilasom commented on #43
might not be TP2 on docker hub then. tdnf --version should tell you which version you have. distro-sync is enabled from 1.0.4 and upwards

[2015-12-12 21:37] #43 closed

[2016-01-19 17:11] ppadmavilasom commented on #22
Resolved. Added tests for the same.

[2016-01-19 17:11] #22 closed

[2016-01-19 17:14] ppadmavilasom commented on #14
Fixed. Handles multiple packages for all alter paths - install, erase, update, reinstall. Fix available from v1.0.7

[2016-01-19 17:14] #14 closed

[2016-04-29 15:39] ppadmavilasom commented on #19
Fixed, compiles and works in fedora 23

[2016-04-29 15:39] #19 closed

[2016-06-27 21:57] ppadmavilasom opened #63 "tdnf support for metalink ..."
Re: vmware/photon#468

From @gregmmurray
Can we add support for the metalink option to tdnf?

Getting some resilience in accessing repos and the ability to have some sophistication on which mirror/repo we direct users is important. There's potential, too, to improve security and validation of packages.

[2016-07-21 07:53] furlongm opened #64 "distroverpkg config entry is set to a package that is not installed"
I get the below error after following the compile/install instructions in the readme. The error is not so clear, do you know what the issue is?

[code]

[2016-07-25 15:43] ppadmavilasom commented on #64
@furlongm tdnf assumes distroverpkg to be photon-release if not overridden in tdnf.conf. Please check if you have photon-release installed or override with --releasever
tdnf list --releasever 1.0

[2016-07-26 01:33] furlongm commented on #64
Thanks, that gets me to the next error:

[code]

[2016-09-06 03:57] Conan-Kudo opened #66 "hawkey is deprecated, use libdnf instead"
The upstream DNF project has deprecated the hawkey library, and has merged libhif and hawkey into libdnf. Please migrate to [libdnf](https://github.com/rpm-software-management/libhif).

See [this announcement](http://dnf.baseurl.org/2016/02/24/dnf-into-c-initiative-started/) for more information.

[2016-09-06 17:23] ppadmavilasom commented on #66
@Conan-Kudo thanks for the info.

[2016-09-19 01:53] Conan-Kudo commented on #63
If you're going to do that, you might as well also support signed repodata, too. The checking of repodata GPG signatures is controlled in DNF with `repo_gpgcheck` flag.

[2016-10-06 13:08] jsilhan commented on #66
Also you can reuse rpm transaction, progress indicator, metadata and package downloading from libdnf. DNF-2.0 in Fedora rawhide is currently using libdnf.

[2017-08-28 15:29] etienned opened #68 "`update` command do not show up in the help page."
`update` command is not listed when doing (tdnf: 1.1.0) :

[code]

[2017-09-11 14:53] sergiosagu opened #69 "tdnf distro-sync returned a non-zero code: 70"
Hi,

When building [Admiral](https://github.com/vmware/admiral) container image based on vmware/photon:1.0 if we run "tdnf distro-sync --refresh -y" we get the following trace:

...
 ---> Running in 3e5311a68153
Refreshing metadata for: 'VMware Lightwave 1.0(x86_64)'
Refreshing metadata for: 'VMware Photon Linux 1.0(x86_64)Updates'
Refreshing metadata for: 'VMware Photon Extras 1.0(x86_64)'
Refres

[2017-09-11 16:43] pstroia commented on #69
Can you share the image digest?
It seems non-reproducible with the latest image pulled from Docker Hub (sha256: 69d0ce9a0ec...)

[2017-09-11 16:46] sergiosagu commented on #69
Yes, could be. I saw the issue using an "old" host to build the image and maybe it was polluted somehow. I tried later using a brand new host and the build (and distro dependencies updates) was just fine. Closing the issue. Thanks!

[2017-09-11 16:46] #69 closed

[2017-09-12 09:25] rejji opened #70 "Photon base for eMQTT docker"
I need to create a photon base docker image for eMQTT. This is basically migration of the Dockerfile from Alpyne to Photon:1.0 for this: https://github.com/emqtt/emq-docker/blob/52c8b6e559296f89e4afdbcf124e120817c55f84/Dockerfile

When I am trying to install the first package erlang, it fails talking about missing package.
Which repo I can use for erlang and all other packages here that are reqd t

[2017-09-12 09:30] rejji commented on #70
Moved to https://github.com/vmware/photon/issues/686.

[2017-09-12 09:31] #70 closed

[2017-10-18 20:03] DaBeOps opened #71 "tdnf add powershell package"
May we add Powershell? It was included in PhotonOS v1 but not in the latest release.

In order to increase the efficiency of PowerCLI(https://hub.docker.com/r/vmware/powerclicore/) it could be nice to add the latest release: https://github.com/PowerShell/PowerShell/releases.

[2018-05-21 06:13] kingfsen opened #73 "distro-sync -y ，returned a non-zero code: 255"
Step 2/16 : RUN tdnf distro-sync -y
 ---> Running in 3e4c32756781
Refreshing metadata for: 'VMware Photon Linux 1.0(x86_64)'
Refreshing metadata for: 'VMware Lightwave 1.0(x86_64)'
Refreshing metadata for: 'VMware Photon Extras 1.0(x86_64)'
Refreshing metadata for: 'VMware Photon Linux 1.0(x86_64)Updates'

Upgrading:
sqlite-autoconf                 x86_64      3.22.0-2.ph1          2.40 M
openssl

[2018-05-21 18:56] ppadmavilasom commented on #73
@kinfsen docker build - you will need the latest photon docker image that has updated filesystem.
please see
https://github.com/vmware/photon/issues/624
https://github.com/vmware/photon/issues/700 for details

you can see details by running tdnf distro-sync -y --rpmverbosity debug

as for the 1601 error which is not helping at all, i will update tdnf to make failures like this output meaningful er

[2018-06-08 16:28] nishakm opened #74 "Support for querying package dependencies"
rpm -qR is the typical way of listing a package's dependencies. dnf has repoquery. tdnf doesn't seem to have a cli option for listing package dependencies. Would it be possible to enable dnf's repoquery option for tdnf?

[2018-07-02 12:27] ipetkov7 opened #75 "Does tdnf support retry/resume on failure?"
On download failure, does the tool automatically retry from the bits it has successfully got (HTTP range requests)?
If yes, are the retry_count and retry_interval customizable?

[2018-07-02 17:50] ppadmavilasom commented on #75
@ipetkov7 there is no auto retry atm

[2018-07-03 14:54] ipetkov7 commented on #75
Thanks @ppadmavilasom
If run the tool after connection failure, will it request the package from the beginning or will resume it?

[2018-07-03 20:40] ppadmavilasom commented on #75
it will request new as it removes the downloaded rpms on completion / error

[2018-07-04 15:40] ipetkov7 commented on #75
Thanks

[2018-07-04 15:40] #75 closed

[2018-08-22 09:23] KohliDev opened #76 "Not able to build and install tdnf"
Tried building and installing tdnf on Ubuntu 16.04 Machine failed with below errors:

[code]

Even Hawkey installation failed:

Hawkey Error:

[code]

Please guide what dependency am I missing to build and install tdnf?

[2018-08-22 09:25] KohliDev opened #77 "Can tdnf install pre-downloaded local RPM Packages?"
Please guide on how tdnf can install local pre-downloaded rpm packages.

https://communities.vmware.com/thread/519734

[2018-08-22 17:08] ppadmavilasom commented on #76
Look at photon spec files for tdnf and hawkey

[2018-09-14 13:03] Conan-Kudo commented on #76
The build will fail in most cases without #72.

[2018-11-05 09:35] YanzhaoLi opened #78 "GpgKey Url schemes not supported"
Error(1508) : GpgKey Url schemes other than file are not supported

[2018-12-06 11:21] daydrim opened #79 "How to make reposync for photon repository"
Hello

Is there any way to create reposync (and sync changes periodically) for Photon OS 2 (and 1) repositories to use Photon only in local network environment with limited Internet access?

[2018-12-20 22:32] figo opened #80 "compile tdnf on debian failed"
i am following the guide to compile tdnf on Debian.
it failed at `make` stage now.

the error is:
[code]

the previous error on `./configure` stage disappearred after install `pkg-config`
[code]

here is the detail of debian environment
(gcc (Debian 4.9.2-10) 4.9.2)
[code]

any help is appreciated, thanks

[2018-12-21 04:44] keerthanakalyan commented on #80
Please install pkgs-config
"apt-get install -y pkg-config" and try to do the below steps again
aclocal
libtoolize
automake --add-missing
autoreconf
./configure

[2018-12-21 05:36] keerthanakalyan commented on #77
You can create a local repository and try using tdnf. Please refer to this https://github.com/vmware/tdnf/wiki#adding-a-new-repository

[2018-12-21 15:34] figo commented on #80
thank you for the attention, there is no such package in debian call 'pkgs-config', you can search it from:https://packages.debian.org/search?searchon=names&keywords=pkgs-config

[2018-12-21 16:29] keerthanakalyan commented on #80
Sorry it’s a typo. Please try pkg-config as mentioned in the second line of my comment.

[2018-12-21 22:43] figo commented on #80
thank you, configure error disappeared after install `pkg-config`, now i am hitting the compile errors, any suggestion?

[2019-01-03 23:37] awwithro opened #81 ""remove" doesn't remove a package's dependencies"
per the wiki

Running in a fresh container I see the following
[code]

[code]

I would expect the installed package count to be back to 32 with git and all of its dependencies removed

[2019-01-23 06:45] elnemesisdivina commented on #78
Message:

Error(1508) : GpgKey Url schemes other than file are not supported

when install kubectl

[2019-01-28 10:28] imayorski opened #82 "cURL headers append callout"
Can we provide callouts to curl calls in order to be able to append headers and provide ssl certificates?

[2019-01-30 16:07] ppadmavilasom commented on #82
Hello.
Please take a look at  https://github.com/vmware/tdnf/blob/master/client/remoterepo.c#L131 which calls TDNFRepoApplyProxySettings. You will have to do something similar.
If you intent to provide callback to a program that links against libtdnf, you will need a way to set the callback into  tdnf handle. One way is to use it via https://github.com/vmware/tdnf/blob/master/include/tdnftypes.h#L

[2019-01-30 18:50] ppadmavilasom commented on #66
tdnf uses libsolv directly without the hawkey wrapper now (in dev and master branches).

[2019-01-30 18:50] #66 closed

[2019-01-30 21:43] ppadmavilasom commented on #76
@KohliDev could you please try from the dev branch? it has the patches from @Conan-Kudo

[2019-01-30 21:48] ppadmavilasom commented on #71
powershell is now available in PhotonOS 2.0. for further PhotonOS questions, please use https://github.com/vmware/photon

[2019-01-30 21:48] #71 closed

[2019-01-30 21:50] ppadmavilasom commented on #80
https://github.com/vmware/tdnf/issues/76

[2019-01-30 21:51] Conan-Kudo commented on #64
@ppadmavilasom You should set this to `system-release` instead, which is a generic Provides common to `redhat-release`, `fedora-release`, and `mageia-release`. Ideally, `photon-release` should have that Provides too.

[2019-01-30 21:58] ppadmavilasom commented on #64
@Conan-Kudo it defaults to photon-release and runs into the issue reported when photon-release is not installed. then it can be overridden either by setting in tdnf.conf or passing in the releasever via cmd line.

[2019-02-17 09:26] hanscees opened #83 "tdnf 1.2.3 stops and updates docker, but doesnt start it again"
Hi,
my docker demon stopped working.

heres the relevant log
Feb 17 04:12:16 dns2019 [RPM][27370]: erase docker-18.06.1-1.ph2.x86_64: success
Feb 17 04:12:16 dns2019 systemd[1]: Stopping Docker Application Container Engine...
Feb 17 04:12:16 dns2019 dockerd[299]: time="2019-02-17T04:12:16.639847805+01:00" level=info msg="Processing signal 'terminated'"

... some more logging

Feb 17 04:12:21 dns20

[2019-02-28 15:21] ppadmavilasom commented on #83
this might require a change in docker's rpm spec. please check with photon if not resolved.

[2019-03-01 11:55] hanscees commented on #83
I am not sure what you want me to do? Check with photon? How?

[2019-03-01 17:42] ppadmavilasom commented on #83
sorry i meant opening an issue with https://github.com/vmware/photon
docker-18.06.2-1.ph2.x86_64 you install should have post install scripts to restart docker if it was running at the time of upgrade. if this is not the case, photon specs should change to fix this.

[2019-04-17 12:42] pixdrift commented on #77
It appears that tdnf/yum implementation doesn't support `localinstall` or a local file target for install. Is there a plan to implement this in future?

[code]

[2019-06-05 09:58] ahnselina commented on #73
I met this problem too, then I use " tdnf distro-sync -y --rpmverbosity debug", the output result as follow:
D: skip       100755  1 (   0,   0) 33016 /usr/lib64/gconv/IBM1046.so
D: skip       100755  1 (   0,   0) 33064 /usr/lib64/gconv/IBM1026.so
D: skip       100755  1 (   0,   0) 32312 /usr/lib64/gconv/IBM1025.so
D: skip       100755  1 (   0,   0) 20360 /usr/lib64/gconv/IBM1008_420.so
D: skip

[2019-07-30 17:58] #83 closed, assigned to nobody

[2019-11-14 18:25] sidcha opened #88 "tdnf check-update must return error for invalid package name argument"
The 3rd argument is must either be empty or valid. Other cases must respond with suitable error message and code.

[2019-11-14 19:17] sidcha opened #89 "tdnf check-local without an argument reports different error-codes to stdout and shell"
[code]

[2019-11-15 05:29] sidcha opened #90 "CLI Argument validation should happen before any other actions are performed"
For an invalid command construct, we must early-return to speedup tests runtime. In this case, metadata refresh should not happen.
[code]

[2019-11-15 05:47] ppadmavilasom commented on #90
please feel free to send PRs

[2019-11-15 07:26] sidcha commented on #90
Will do

[2019-12-03 12:44] sidcha opened #93 "Always return "Error(XXX)" as the first line of an error message for ease of parsing"
After some research, I figured that there is no straightforward way to get the 32-bit return code from tdnf process across operating systems in a reliable way. For this reason, I switched to parsing the the stderr outputs with a regex like: `^Error\(\d+\)`. Now for this to work, we must always return the first line of any error message with the `Error(XXX)` message and be consistent about it.

###

[2019-12-04 00:43] ppadmavilasom commented on #93
the lower 8 bits shows up as the exit code. tdnf should not return an exit code greater than 255. formatting error messages to enable reliable parsing is the right thing to do. lets fix the format for the ones that doesnt follow the majority and change the return code to just 1 for tdnf specific errors.

[2019-12-04 06:23] sidcha commented on #93
Mostly yes. But when I did some search I found that `waitid()` must return all 32 bits according the 2016 edition of POSIX. Unfortunately, Linux doesn't do this (I haven't tried on BSD but I heard it works there). Nevertheless, we cannot rely on it.

[2019-12-04 12:34] sidcha opened #94 "Return "Nothing to be done" when there are no packages to be upgraded"
Currently, `tdnf list upgrades` returns an error code where there is no packages to be upgrades. While there may not be any package to be upgraded, the command itself is properly constructed and shouldn't return an error.

Something like "Nothing to be done here" is suitable alternative.

[2019-12-04 22:37] ppadmavilasom commented on #94
agree

[2019-12-10 02:48] QiAnXinCodeSafe opened #95 "Stream pointer might be NULL"
'pCacheFile' is defined here, but may be NULL, please check 'if(pCacheFile== NULL)'
https://github.com/vmware/tdnf/blob/94955ca8e66eb17a98bc3bf2ced9fcac6f2db86a/solv/tdnfrepo.c#L253

[2019-12-18 06:57] QiAnXinCodeSafe opened #97 "Stream pointer might be NULL"
'pCacheFile  ' is defined here, but may be NULL
https://github.com/vmware/tdnf/blob/94955ca8e66eb17a98bc3bf2ced9fcac6f2db86a/solv/tdnfrepo.c#L253
Stream pointer might be NULL
https://github.com/vmware/tdnf/blob/94955ca8e66eb17a98bc3bf2ced9fcac6f2db86a/solv/tdnfrepo.c#L257

[2019-12-19 01:13] ppadmavilasom commented on #97
pCacheFile null check is already addressed in #95

repo_add_rpmdb_reffp can handle null fp. no fix required as there are paths in tdnfrepo.c that need this.
see - https://github.com/openSUSE/libsolv/blob/e04f3016c49b0426cd822d5ba3259c6ab94c1181/ext/repo_rpmdb.c#L1830

[2019-12-19 01:13] #97 closed, assigned to nobody

[2020-01-03 00:59] ppadmavilasom opened #100 "fedora dist tests failing"
@cbsiddharth can you please take a look at this?

[2020-01-03 17:51] #95 closed, assigned to nobody

[2020-01-04 20:08] Conan-Kudo commented on #64
@ppadmavilasom I've submitted a PR to photon to add `system-release` Provides: https://github.com/vmware/photon/pull/963

Once that's merged in, then tdnf can just use `system-release` just like dnf does.

[2020-01-19 03:09] #100 closed, assigned to sidcha

[2020-02-07 10:35] keerthanakalyan opened #109 "Update README file"
Current README file is incorrect. It points to the built tdnf binary inside folder ./tools/cli/tdnf whereas the actual binary is located at ./bin folder.

[2020-03-17 08:58] keerthanakalyan opened #117 "tdnf does not clean downloaded RPM cache when there is a installation failure"
Refer this https://github.com/vmware/photon/issues/988#issuecomment-599505221
When the previous installation command downloads corrupted or partial RPM file due to network issue, the subsequent installation of the same RPM fails with error Error(1471) : rpm generic error - not found. This is because the partially downloaded / corrupted RPM file is not cleared when there is a failure.

[2020-03-31 02:48] ahuffman opened #123 "Getting Error(1622) : Invalid argument when package dependency resolution fails"
This is a really obscure error message and provides no value other than frustration.  What's really happening is there's a package dependency resolution failure happening when it attempts to install one of the downloaded RPMs and just blows up with this error.

I was able to come to this conclusion by running `tdnf check-local /var/cache/tdnf/<repo name>/rpms/Packages` and it came back with:

[cod

[2020-03-31 02:53] ppadmavilasom commented on #123
@ahuffman when there is an error "nothing provides pkgA", you can try changing the command to install pkgA - which will reveal bit more information about the issue. Did you try a --refresh with the install command?

[2020-03-31 13:31] ahuffman commented on #123
Yes, I just simply and repeatedly get the error message.  I did `tdnf clean
all` I did a `rm -rf /var/cache/tdnf`as well.  The metadata refreshes and
restarts the download/install process, but as soon as it hits a package
where one of its dependencies are missing I receive the 1622 error.

On Mon, Mar 30, 2020 at 10:54 PM Priyesh <notifications@github.com> wrote:

--
Regards,

Andrew

[2020-03-31 18:00] ppadmavilasom commented on #123
Can you repro this in a docker container or a new vm install? if so, please provide steps. if this is unique to your current environment, paste the error log pls.

[2020-04-06 14:15] ahuffman commented on #123
Yes.  Install a new PhotonOS 3 VM, add the EL kubernetes repos, and attempt to install kubeadm, kubectl, and kubelet v1.18.  There's a missing pkg to do with conntrack, but the tdnf just throws the 1622 error, and until you go digging like in the initial issue post here you have no idea what this error 1622 relates to.

[2020-04-06 20:13] #117 closed, assigned to nobody

[2020-04-07 17:41] ppadmavilasom commented on #123
@ahuffman this 1622 is bad. it probably points to gpgkey not set. i will fix.
can you please see if recent comments in this issue applies here: https://github.com/vmware/photon/issues/993

[2020-04-08 15:47] ahuffman commented on #123
@ppadmavilasom that will probably fix my issue.  I had just disabled gpgcheck altogether since I was getting numerous error messages back from tdnf.  Appreciate linking the two issues together.

[2020-04-08 15:49] ahuffman commented on #123
When I get some time I'll test the suggestion in vmware/photon#993

[2020-04-22 14:53] sidcha opened #130 "TDNF doesn't resolve dependencies correctly"
This was reproduced in photon-dev minimal install.

[code]

[2020-04-22 22:47] ppadmavilasom commented on #130
this is a spec issue. check if you can install using rpm without these errors.

[2020-04-23 06:27] sidcha commented on #130
Removing iptables fixed the issue. Does that mean iptables SPEC is to to be blamed?

[2020-04-23 08:09] sidcha commented on #130
Dev branch needed RPMs from the iso. I was trying to access 3.0 RPMs that caused the conflict. Closing this issue.

[2020-04-23 08:09] #130 closed, assigned to nobody

[2020-05-05 07:44] agenttank opened #133 "tdnf not working | Error 1621 : Is a directory"
what do?

root@photon8 [ /home/stefan ]# tdnf upgrade
Error(1621) : Is a directory
root@photon8 [ /home/stefan ]# tdnf check-local
Error(1621) : Is a directory
root@photon8 [ /home/stefan ]# tdnf check-update
Error(1621) : Is a directory
root@photon8 [ /home/stefan ]# tdnf clean
Error(1621) : Is a directory
root@photon8 [ /home/stefan ]# tdnf info
Error(1621) : Is a directory

journalctl doesn't t

[2020-05-05 07:48] keerthanakalyan commented on #133
Can you try removing the cache directory and try makecache again?
`rm -rf /var/cache/tdnf/*;
tdnf makecache`
What version of photon-repos and tdnf do you use?

[2020-05-05 08:03] agenttank commented on #133
removing the cache and makecache did help! great!

root@photon8 [ /var/log ]# tdnf --version
tdnf: 2.1.0

how do i check the version of photon-repos? the files in /etc/yum.repos tell me this

`[photon-debuginfo]
name=VMware Photon Linux debuginfo $releasever ($basearch)
baseurl=https://packages.vmware.com/photon/$releasever/photon_debuginfo_$releasever_$basearch
gpgkey=file:///etc/pki/rpm-gpg/VMWA

[2020-05-05 08:05] keerthanakalyan commented on #133
`tdnf list photon-repos`

[2020-05-05 08:19] agenttank commented on #133
`photon-repos.noarch                                             3.0-5.ph3                              @System
photon-repos.noarch                                             3.0-3.ph3                       photon-updates
photon-repos.noarch                                             3.0-4.ph3                       photon-updates
photon-repos.noarch                                             3.

[2020-05-22 13:44] Conan-Kudo opened #135 "New release please?"
There are significant fixes unreleased in tdnf, and I don't want to have cherry pick ~20-ish commits to make things work well. Can we please have a new release?

[2020-05-22 17:21] ppadmavilasom commented on #135
@keerthanakalyan @sshedi https://github.com/vmware/tdnf/releases/tag/v2.1.0 is well tested. can we please release ?

[2020-05-22 17:49] Conan-Kudo commented on #135
@ppadmavilasom @keerthanakalyan @sshedi I need a release newer than 2.1.0. That release is missing several fixes.

[2020-05-26 12:54] keerthanakalyan commented on #135
@Conan-Kudo We are planning a release. We will release it as soon as possible.

[2020-05-29 17:31] keerthanakalyan commented on #135
@Conan-Kudo : We have a new release v2.1.1 https://github.com/vmware/tdnf/releases/tag/v2.1.1

[2020-05-29 17:31] #135 closed, assigned to nobody

[2020-06-10 10:07] sidcha opened #148 "Valgrind disabled on Travis CI when DIST == fedora"
To fix memcheck test failures, valgrind is disabled on Travis CI when DIST==fedora in #144.

Must fix this by taking a closer look at TravisCI's VM with debugging enabled.

[2020-06-11 07:39] sidcha opened #150 "Fix deprecation warning due to invalid escape sequence in test_metalink.py"
CI warns about this:

[code]

[2020-06-11 07:39] sidcha commented on #150
@tapakund, can you please look into this.

[2020-06-16 23:40] voor opened #151 "tdnf should support installing from HTTP and HTTP GPG keys"
Currently `tdnf` will fail if it tries to install from a URL provided package, for example:

[code]

I would expect this to work.

Additionally, GPG files in `.repo` files are required to be files, and cannot be provided as URLs.

Copied from https://github.com/vmware/photon/issues/1017
Somewhat related to https://github.com/vmware/tdnf/issues/77 except URL instead of a local file.

[2020-06-24 05:28] sidcha commented on #148
Fixed by PR #149

[2020-06-24 05:28] #148 closed, assigned to nobody

[2020-06-28 08:20] melck commented on #151
It will be perfect if multi gpg keys are supported as well. Ggp keys be separated with a space or comma. Ex: [Installation of `kubeadm`](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl).

[2020-07-24 16:01] lynic opened #153 "How to download a package and its dependencies without install it?"
Hi, I would like to download a package with its dependencies and build a local repo, how can I do that with tdnf? Is there any command like `dnf download` ?

[2020-08-01 19:26] daandemeyer opened #154 "Error when installing into a btrfs root"
I've been trying to add photon linux to [mkosi](https://github.com/systemd/mkosi.git)'s continuous integration setup. This is working quite well, except for the build that installs photon into a gpt btrfs image where tdnf fails with `Error(4294967295) : Unknown error -1601`, as well as `/sbin/ldconfig: no such file or directory` errors when installing packages.

This only happens on btrfs and only

[2020-08-04 23:00] daandemeyer commented on #154
I've attached an strace log of tdnf on Github Actions if that helps in figuring out the issue.

[tdnf.zip](https://github.com/vmware/tdnf/files/5025203/tdnf.zip)

[2020-08-07 11:07] keerthanakalyan commented on #153
you can build a local repo by downloading the RPMs using curl / wget command. Please refer this https://vmware.github.io/photon/assets/files/html/3.0/photon_admin/adding-a-new-repository.html

However we do not ```tdnf download <URL to rpm>``` support in tdnf.

[2020-09-03 12:35] tapakund opened #165 "tdnf repolist --refresh fails in fedora with repogpgcheck plugin enabled."
We are seeing this issue from this commit onwards https://github.com/vmware/tdnf/pull/152/commits/8785948f5d1d004ff3e6ce724a2b19c909a4d03e

[2020-09-09 04:39] sidcha opened #169 "Add option to disable SSL verification of repo baseurl"
When option `sslverify` is set to 0, we must skip SSL verification of the repo base URL.

Needed-By: https://github.com/vmware/photon/issues/384

[2020-09-11 12:53] sidcha commented on #93
@keerthanakalyan, when your change #170 with re.search and re.NEWLINE gets merged, we can close this.

[2020-09-11 12:55] sidcha opened #172 "Metalink tests reports deprecation message"
When running make tests, I get the following deprecation message.

[code]

[2020-09-11 12:55] sidcha commented on #172
^^^ @tapakund

[2020-09-14 12:08] tapakund commented on #172
https://github.com/vmware/tdnf/pull/167 fixes this issue.

[2020-09-14 12:08] tapakund commented on #150
https://github.com/vmware/tdnf/pull/167 fixes this.

[2020-09-14 12:09] tapakund commented on #172
This is dupe of https://github.com/vmware/tdnf/issues/150

[2020-09-14 12:18] #172 closed, assigned to nobody

[2020-09-14 16:02] #93 closed, assigned to nobody

[2020-09-17 07:28] tapakund commented on #150
Changes merged. We can close this.

[2020-09-17 09:02] sidcha commented on #150
Sure. You can also link your commit to this issue with a "Fixes: #150" anywhere in your commit message. That way GitHub Will close this issue automatically.

[2020-09-17 09:02] #150 closed, assigned to tapakund

[2020-09-25 18:30] oliverkurth opened #174 "When testing transaction, bogus error is returned on failure"
In the code here at https://github.com/vmware/tdnf/blob/dev/client/rpmtrans.c#L406:
[code]
it is assumed that `rpmtsRun` returns an error code. In fact, on error, it returns either `-1` or the number of elements in the transaction. See https://github.com/rpm-software-management/rpm/blob/4cbdd7c94071f52dfe64466df80e859193d89d89/lib/transaction.c#L1820
[code]
and later:
[code]

When a package instal

[2020-10-01 20:09] oliverkurth commented on #151
Remote keys are now supported with merged PR https://github.com/vmware/tdnf/pull/171 . Multiple keys are in pending PR https://github.com/vmware/tdnf/pull/179 . Installing RPMs from command line (file or URL) is in pending PR https://github.com/vmware/tdnf/pull/175 .

[2020-10-04 15:43] tapakund commented on #165
Fixed with https://github.com/vmware/tdnf/commit/f3cca664a30a3a418f2aa04e3e25e346b5252cd5

[2020-10-04 15:43] #165 closed, assigned to tapakund

[2020-10-26 12:55] sdimkov opened #187 "Any plans to support DNF autoremove command?"
The [autoremove command](https://dnf.readthedocs.io/en/latest/command_ref.html#autoremove-command) of DNF is quite useful for removing left-over dependencies.

Are there any plans/active work in regards to adding support for it in tdnf ?

[2020-11-02 19:10] oliverkurth commented on #151
This is done, all related PRs are merged.

[2020-11-02 19:10] #151 closed, assigned to oliverkurth

[2020-11-02 19:16] oliverkurth commented on #109
This is fixed with b1eefad3685965ebaf0889c17052040a463d6a04.

[2020-11-02 19:16] #109 closed, assigned to nobody

[2020-11-02 19:26] oliverkurth commented on #77
Implemented with 86cf432f04158a7e4ca2552906d720d9d28403d6 . It's not `localinstall`, just `tdnf install /path/to/file-1.2.3.rpm`.

[2020-11-02 19:26] #77 closed

[2020-11-02 19:28] oliverkurth commented on #78
URLs for gpg keys (remote and local) are now supported.

[2020-11-02 19:28] #78 closed

[2020-11-05 19:43] oliverkurth commented on #63
This is resolved with https://github.com/vmware/tdnf/commit/31a577946b6286daf10c7af5f1b94f36a8b2e59f .

[2020-11-05 19:43] #63 closed

[2020-11-07 00:47] oliverkurth commented on #169
I think this is addressed with https://github.com/vmware/tdnf/pull/176 ?

[2020-11-07 00:53] oliverkurth commented on #153
I think we would need a `--downloadonly` option, together with `--downloaddir` like dnf has them.

[2020-11-11 18:25] #133 closed, assigned to nobody

[2020-11-11 18:29] oliverkurth commented on #89
The error code does not match the return code because it's > 255.

[2020-11-11 18:29] #89 closed, assigned to nobody

[2020-11-11 18:33] oliverkurth commented on #82
Certificates is addressed with https://github.com/vmware/tdnf/pull/176 .

[2020-11-11 18:34] oliverkurth commented on #80
This should be resolved now.

[2020-11-11 18:34] #80 closed, assigned to nobody

[2020-11-11 18:34] oliverkurth commented on #76
This should be resolved now.

[2020-11-11 18:34] #76 closed

[2020-11-11 18:37] #73 closed

[2020-11-11 18:40] oliverkurth commented on #64
Should be resolved now.

[2020-11-11 18:40] #64 closed

[2020-11-11 20:31] oliverkurth commented on #169
Fixed with https://github.com/vmware/tdnf/pull/176

[2020-11-11 20:31] #169 closed, assigned to nobody

[2020-11-25 18:04] oliverkurth commented on #94
This seems to be fixed:

[code]

[2020-12-03 21:31] oliverkurth opened #204 "-C / --cacheonly option has no effect"
The `-C / --cacheonly` option is supposed to prevent downloading metadata but has no effect:

[code]

[2021-01-11 03:54] keerthanakalyan opened #209 "tdnf clean options not implemented"
tdnf clean has only all option implemented. We have others such as packages, metadata, dbcache, plugins, expire-cache. Would be good to have each command implemented.

[2021-01-14 21:40] oliverkurth opened #213 "'clean all' does not remove RPMs unless directory tree uses $arch and 'noarch' flat directories"
tdnf will only clean RPMs that are in the $arch or `noarch` directories. If the directory structure is different, RPMs will remain. For example suppose a tree like this:

[code]
After an  install with `--downloadonly` or install with `keepache=1`, a  `clean all` (with `keepcache=0`), packages remain:
[code]

[2021-01-25 21:44] oliverkurth commented on #204
Fixed with https://github.com/vmware/tdnf/commit/dc20fa29052e4d2ccaaacd7c0261b96646d95ec1 .

[2021-01-25 21:44] #204 closed, assigned to nobody

[2021-01-25 21:45] oliverkurth commented on #174
Fixed with https://github.com/vmware/tdnf/commit/34175136ac826c3e2e0d16c2f45125719738827e .

[2021-01-25 21:45] #174 closed, assigned to nobody

[2021-01-25 21:47] oliverkurth commented on #153
This is addressed with https://github.com/vmware/tdnf/commit/99971a31c899a87fc3f1f7d7013f3ab653ad609b .

[2021-01-25 21:47] #153 closed, assigned to nobody

[2021-01-25 21:49] oliverkurth commented on #90
Fixed with https://github.com/vmware/tdnf/commit/d3ecd04a8ef15f0366b482cc82d4b6b344d7b030 .

[2021-01-25 21:49] #90 closed, assigned to nobody

[2021-01-25 22:05] oliverkurth commented on #88
If I understand correctly this is no longer an issue:
[code]
I wasn't able to find any invalid command that returns a zero exit code. Please reopen if I am missing something.

[2021-01-25 22:05] #88 closed, assigned to nobody

[2021-01-25 22:33] oliverkurth commented on #68
Fixed with https://github.com/vmware/tdnf/commit/f63bd64295a95f6231f0a22f2ef2495d51417f42 .

[2021-01-25 22:33] #68 closed

[2021-01-25 23:33] oliverkurth commented on #123
Looks like this is resolved:
[code]

[2021-01-25 23:33] #123 closed, assigned to nobody

[2021-01-25 23:36] oliverkurth commented on #94
Hm, issue is still there:
[code]

[2021-01-25 23:38] oliverkurth commented on #82
Closing this issue. Certificates is addresses.

[2021-01-25 23:38] #82 closed, assigned to nobody

[2021-02-03 23:49] oliverkurth opened #220 "'provides' command does not show provides for files"
[code]

Older version works, so this is a regression:
[code]

This is most likely introduced with https://github.com/vmware/tdnf/pull/175 in where arguments that are filenames will be regarded as packages to install.

[2021-02-04 01:04] oliverkurth commented on #220
More info - the command only fails if the file that we are querying for does indeed exist - otherwise it will work as expected. For example, when `lsof` is not installed:
[code]
This is because `TDNFAddCmdLinePackages()` checks for valid filenames and only then regards them as a package. It explains why the `test_whatprovides_valid_file` test in `pytests/tests/test_whatprovides.py` never found thi

[2021-02-04 18:00] #220 closed, assigned to nobody

[2021-02-23 21:29] oliverkurth commented on #213
Fixed with https://github.com/vmware/tdnf/pull/212 .

[2021-02-23 21:29] #213 closed, assigned to nobody

[2021-03-04 04:31] tapakund opened #226 "TDNF printing retrying 1/10...10/10 and resulting in multiple error codes in case we have network error"
TDNF printing retrying 1/10...10/10(i think we should not print this retrying in console)  and resulting in multiple error codes in case we have network error. Attached a screenshot of the same.

<img width="1407" alt="Screenshot 2021-03-04 at 3 58 30 PM" src="https://user-images.githubusercontent.com/39723251/109950459-87ff6380-7d02-11eb-957f-0fd40bdba332.png">

[2021-05-18 17:32] oliverkurth commented on #79
This is going to be addressed with https://github.com/vmware/tdnf/pull/233 . Note that this change won't make it to Photon 1 or 2 though.

[2021-05-18 17:38] oliverkurth opened #234 "Implement the --repoid option"
Using `--disablerepo=* --enablerepo=some-rep` is tedious. The `--repoid some-repo` would make it easier to select a particular repo.

[2021-05-18 17:45] oliverkurth opened #235 "Implement the repofrompath option"
The `--repofrompath` option would make it easy to use an ad-hoc repository, for example one just created with the `reposync` command.

[2021-06-05 00:14] oliverkurth commented on #79
The feature has been implemented. https://github.com/vmware/tdnf/pull/233 has been merged.

[2021-06-05 00:14] #79 closed, assigned to nobody

[2021-06-05 00:23] oliverkurth opened #238 "when using --installroot, tdnf should search for the config files relative to it"
When using the `--installroot` option, tdnf searches for the repo configurations in the host. It would be more useful to search for these relative to the install root. dnf first searches under the install root, then under the host. This should be implemented in tdnf as well.

In addition, it would be good to implement `--setopt=reposdir=<reposdir>`.

[2021-06-11 03:44] paulneumeyer opened #241 "Add History and rollback support"
I'm would like to use the history functionality (history list, history undo) that is available in yum and dnf, but as far as I can tell, it is not in tdnf.

Is work planned or currently underway to implement that functionality?  Alternatively is a plugin available for this from a third party?

[2021-06-14 19:19] oliverkurth commented on #241
No, we do not have that feature, and there is no plugin. Some kind of history would be needed if we want to implement the 'autoremove' feature, see issues #81  and #187 .

[2021-06-17 20:29] #238 closed, assigned to nobody

[2021-06-17 22:52] oliverkurth commented on #154
Looks CI runs for Photon and a few others have been dropped a while ago: https://github.com/systemd/mkosi/commit/0f167a2205070096e182222a84ddc954a6c23997#diff-87ee5504a3e25ac558b343724c905f2f7949e8cec3d92b9c4300bb922afa164f

[2021-06-21 18:26] oliverkurth commented on #226
We discussed this internally, and some issues have been addressed. I think we can close this. Reopen if you disagree.

[2021-06-21 18:26] #226 closed, assigned to nobody

[2021-06-23 18:33] oliverkurth commented on #94
Fixed.

[2021-06-23 18:33] #94 closed, assigned to nobody

[2021-06-24 21:02] sidcha commented on #94
Finally, Yay! thanks @oliverkurth :)

[2021-07-14 20:23] oliverkurth commented on #74
This is going to be addressed with https://github.com/vmware/tdnf/pull/248 .

[2021-08-04 22:49] oliverkurth opened #253 "`--releasever` uses cached repo data from other releases"
For `repolist`, it seems to do the right thing:
[code]
However, when trying to install, assuming you have a cache that's up-to-date it would use whatever is the cached data, which is most likely but not necessarily the release in the host:
[code]

Even worse, if I refresh the cache for another release using `--releasever`, it would install from that release afterwards even if the option isn't give

[2021-08-05 21:02] oliverkurth opened #254 "reposync does not work in the root directory unless a path is specified"
[code]

[2021-08-09 17:27] #254 closed, assigned to nobody

[2021-08-16 19:57] oliverkurth opened #256 "pytest fails on arm"
Arch is assumed to be `x86_64` for tests, so they fail on arm. This is just the first failure:

[code]

[2021-08-17 23:28] oliverkurth commented on #256
Fixed.

[2021-08-17 23:28] #256 closed, assigned to nobody

[2021-09-30 21:37] haata opened #263 "tdnf repo scanning is very slow with large update repositories"
Why is tdnf so slow with large update repos? And is there anything that can be done such as multithreading or parallel downloads?

2m5.543s (Photon 3) vs. 0m10.092s (Photon 4) - 2021-09-30

Photon 3.0 - 65d8e9399b68
[code]

Photon 4.0 - dd07f9531eae
[code]

[2021-09-30 22:28] oliverkurth commented on #263
As discussed in the company slack, this is because we keep multiple versions in the photon-updates repo for Photon 3.0, while for Photon 4.0 this only has the latest versions. So the updates repo for Photon 3.0 is much bigger and therefore requires longer download times and processing.

[2021-10-01 02:39] oliverkurth commented on #263
We are planning to do something similar to the Photon 3.0 repo to speed it up.

[2021-10-26 18:22] tapakund opened #265 "tdnf makecache is crashing"
➜  yum.repos.d cat Artifactory.repo
[Artifactory] name=Artifactory baseurl=https://packages.vmware.com/photon/$releasever/photon_debuginfo_$releasever_$basearch enabled=0 gpgcheck=0
➜  ~ tdnf makecache
Refreshing metadata for: 'VMware Photon Linux 3.0 (x86_64) Updates'
Refreshing metadata for: 'Test repo'      3581   100%
Refreshing metadata for: 'VMware Photon Linux 3.0 (x86_64)'
[1]    9745 segm

[2021-11-23 00:00] #234 closed, assigned to nobody

[2021-11-23 00:00] #235 closed, assigned to nobody

[2021-12-04 18:57] LaurentChardon opened #270 "TDNFAddCmdLinePackages fails when a file or symlink exists with same name as package name"
When a file or link is present in the working directory, with the same name as the package name in the cli arguments, tdnf aborts. Here is an example that works normaly:

[code]

The following is less normal:

[code]

This is due to a check for an existing file or symlink with the same name as the package name in `client/api.c`, where `TDNFAddCmdLinePackages` checks each package name. There are no

[2021-12-04 19:19] oliverkurth commented on #270
Thanks for reporting.

The reason for the check is for installing local packages. For example, you could have downloaded or built an rpm and then want to install it using tdnf (which would then install dependencies for you, if any). Example:
[code]
Probably the check could be more sophisticated, maybe we should check the extension of the filename or symlink, and only allow if it matches `*.rpm`.

[2021-12-09 18:13] #270 closed, assigned to nobody

[2021-12-15 14:36] andrew-lee-1089 opened #273 "tdnf can't cope with RPM repos that do not contain a `filelists`"
I have two RPM repos (created by artifactory), comapring the repodata/repomd.xml , in the working case we have:

[code]

Failing case:

[code]

Looking at the code in https://github.com/vmware/tdnf/blob/v2.1.0/client/repo.c#L878:

[code]

It looks like tdnf can't cope with this. Both yum and dnf can cope with this. When I last looked at it ,the specs for what exactly should be in a repomd.xml file

[2021-12-16 21:17] oliverkurth commented on #273
Thank you for reporting this.

Do you happen to know a way to reproduce a repo without a filelist, other than editing the `repomd.xml` file?

The fix is easy, but I would like to write a test for it.

[2021-12-17 09:56] andrew-lee-1089 commented on #273
The way I did was by creating a brand new RPM repo using JFROG's artifactory. I don't know if you have access to that.

[2021-12-17 10:10] keerthanakalyan commented on #273
Modifyrepo_c command is used to change any metadata from the existing repo.
You can remove filelists and filelists_db from repodata using below command.
Example:
[code]

[2021-12-22 22:58] oliverkurth commented on #273
Fixed with PR #275

[2021-12-22 22:58] #273 closed, assigned to nobody

[2022-01-05 08:22] maorst opened #281 "tdnf updateinfo on Photon 4.0 + Rev1"
### Describe the bug

Hi,
I installed the Photon 4.0 / Photon 4.0 Rev1 versions, and i tried to look for new package updates via `tdnf updateinfo` command.
When i ran the command i saw that for both versions there are no new package updates:

![image](https://user-images.githubusercontent.com/96975023/147871608-34a60fc8-3ff5-4797-9439-d2b4093b82d4.png)

When i looked at [Photon Advisories](https:/

[2022-01-05 09:51] maorst opened #282 "tdnf check-local command vs tdnf upgrade command when using local repo"
### Describe the bug

Hi,

I created a local repository, and wanted to upgrade the **vim-8.2.3428-2.ph4.x86_64.rpm** package to the following version: **vim-8.2.3428-5.ph4.x86_64.rpm**.
I download the package from the [Photon Advisories](https://github.com/vmware/photon/wiki/Security-Advisories-4), and ran:
`tdnf check-local` command in order to find all it's dependencies.
I downloaded all the dep

[2022-01-05 19:22] oliverkurth commented on #281
Strange, I am not able to reproduce this.
* what version of tdnf is this (`rpm -qi tdnf`)?
* please check if the updateinfo metadata have been downloaded with `ls -l /var/cache/tdnf/photon-updates/`.
* check if all repos are enabled with `tdnf repolist`.

[2022-01-05 19:43] oliverkurth commented on #282
`libtinfo.6` is provided by `ncurses-libs`, but there may be something preventing it from being installed. What happens if you try `tdnf install ncurses-libs`?

Also, why are making it so complicated and don't just install `vim` directly with `tdnf upgrade vim`?

If you absolutely want to download first, try the `--downloadonly` and `--downloaddir` options:

`tdnf install --downloadonly --download

[2022-01-05 20:24] oliverkurth commented on #282
What I think is happening here is that your local repo is internally consistent, but not with some other package(s) you have installed. If you install `vim` directly with tdnf, it (hopefully) finds a solution. Using `--downloadonly` as suggested should also work in that case.

[2022-01-06 08:11] maorst commented on #282
Hi Oliver, thanks for the quick response.

The reason i make it complicated is because i need to support environments without internet connection, so this is why i have to use the local repository.

When i am trying to run the command `tdnf install --disablerepo=* --enablerepo=localrepo ncurses-libs`, i get:
![image](https://user-images.githubusercontent.com/96975023/148350228-16e87cbc-ebc8-4d77-a

[2022-01-06 08:40] maorst commented on #281
For some reason currently it is working even from fresh install without doing any tricks...
A couple days ago i couldn't find any update...

Is there any time gap that we need to wait before updates that are in the photon advisories, will be available on the actual OVA machines?

[2022-01-06 20:40] oliverkurth commented on #282
It looks like you have some package installed that requires `ncurses-6.2-3`, but I don't know what that is. It may be an older version of a package that needs to be upgraded too. You could find out by recursively trying to remove ncurses (without actually doing it), then try to remove the package that prevents it.

However, I do not understand why `tdnf install --downloadonly ...` didn't download

[2022-01-06 20:42] oliverkurth commented on #282
Oh, when you send a list of packages, please use copy and paste, not a screen shot so I can process it.

[2022-01-06 21:15] smaliakkal commented on #281
@maorst ,

Our public repositories are continously getting with new updated rpms for all branches in including 4.0.
There are two reasons for updateinfo fetching 0 updates.

1. Unfortunately there is a gap of ~3 hours for public repository to be updated with updateinfo information after new set of updated rpms published.  If you are trying to run updateinfo in this window it will fetch  0 updates.

[2022-01-09 08:50] maorst commented on #281
@smaliakkal thanks for the information!

[2022-01-09 08:50] #281 closed, assigned to nobody

[2022-01-09 10:56] maorst commented on #282
Hi,

I would like **not** to remove packages, because it is going to be an automatic process - so this option can remove some important packages ( i.e. `openssh-server` - which is crucial for SSH connection, once it was removed during upgrade with `--allowerasing` flag)

This is the output of `tdnf install vim`:
[code]

This is the output of `tdnf list installed`:

[code]

[2022-01-11 22:22] oliverkurth commented on #282
We are working on a fix for vim that may address this issue (not sure).

In the meantime, what happens if you install ncurses from your local repo first, and then vim?

You do not need to actually remove packages, just make sure you don't give the `-y` option and type `N` when asked. But it should display the error message.

Thank you for the list - unfortunately I didn't have the time yet to look

[2022-01-12 13:29] maorst commented on #282
ewhen i ran `tdnf list "libtinfo.so.6()(64bit)"`, it gave me:
[code]

When i tried to install it `tdnf install --disablerepo=* --enablerepo=localrepo ncurses-libs`, i got:
[code]

And the main question still is:
If i already download all the required packages for tdnf - shouldn't it know how to handle such cases, and install everything in sequence?
Because when i am trying to upgrade this package

[2022-01-12 21:25] oliverkurth commented on #282
That is exactly the mystery we are trying to find out.

I was trying to reproduce the problem, but I don't see it. I created a fresh vm from https://packages.vmware.com/photon/4.0/Rev1/ova/photon-ova_uefi-4.0-ca7c9e9330.ova and did these steps:
[code]
And it works just fine:
[code]
To prove that the repo config is correct:
[code]

[2022-01-12 21:45] oliverkurth commented on #282
Also, I verified the list of packages including their versions that you have installed against what I have in this vm - it's identical. I suspect something is wrong at your end - can you verify? Did you correctly use `createrepo` ? Did you recreate the metadata after updating your local repo? I see `createrepo` is not installed - so how did you create the metadata?

[2022-01-12 21:52] maorst commented on #282
in order to upgrade vim, tdnf required me to get first the following dependencies (from `tdnf check-local` command):

[code]
So it is weird that it worked for you without all those dependencies...

About the `createrepo` command - i installed it afterwards in this specific case, all the issue is after installing the `createrepo` of course.

About the metadata - do you mean running `tdnf makecache`

[2022-01-12 22:26] oliverkurth commented on #282
No, I mean if you recreated the repodata with `createrepo` after updating the local repo. Thinking more about it, you probably also need to refresh the metadata after each change (do `tdnf clean all`). It's just an idea - not sure if it's the problem.

Metadata are automatically refreshed after 48 hours, but if there are changes sooner they may be outdated.

[2022-01-13 10:08] maorst commented on #282
Ok, so after i downloaded the following packages:
[code]
Which i got **only** when i ran `tdnf install vim --downloadonly` command, and then i ran `createrepo <repo_path>` - only then all worked as expected without any errors! :D

So i wonder, why `tdnf check-local <repo_path>/vim` command didn't ask me to download those 2 dependencies, if they are so crucial for `vim` package...
Because from what

[2022-01-20 23:57] oliverkurth opened #292 "list command ignores options"
### Is your feature request related to a problem? Please describe.

DNF observes ioptions `--installed`, `--available` etc. for the `list` command. dnf ignores these.

### Describe the solution you'd like

Add the `list` options.

[2022-02-04 23:09] oliverkurth commented on #263
PR #293 would address this too.

[2022-02-05 02:59] oliverkurth commented on #187
Fixed with PR #283

[2022-02-05 02:59] #187 closed, assigned to nobody

[2022-02-05 02:59] oliverkurth commented on #81
Fixed with PR #283

[2022-02-05 02:59] #81 closed, assigned to nobody

[2022-03-02 18:15] oliverkurth commented on #263
This is now fixed in Photon 3.0 with tdnf 3.1.8 and photon-repos 3.0-6.

[2022-03-02 18:15] #263 closed, assigned to nobody

[2022-03-10 22:01] oliverkurth opened #302 "makecache expiry logic is not working"
### Describe the bug

The metadata never expire if requests are made within the expiry period.

### Reproduction steps

[code]

### Expected behavior

Cache should be refreshed when more than `metadata_expire` seconds have elapsed since last refresh, no matter if it ever was accessed.

### Additional context

Related, the `-C` option does not work once the cache *is* expired:
[code]

[2022-03-10 22:06] oliverkurth opened #303 "expired metadata are deleted even when requesting to use expired metadata"
### Describe the bug

The `-C` option should make tdnf use expired metadata instead of efreshing.

### Reproduction steps

[code]

### Expected behavior

No error message, use the expired metadata and show results.

### Additional context

Mentioned in PR #287 .

[2022-03-11 05:59] #303 closed, assigned to nobody

[2022-03-11 05:59] #302 closed, assigned to nobody

[2022-04-20 16:29] oliverkurth opened #309 "Error message "Please check repo url" should suggest to try `makecache`"
### Is your feature request related to a problem? Please describe.

When using an outdated cache, the error message should be improved to suggest that the user should try `tdnf makecache`.

### Describe the solution you'd like

suggest that the user should try `tdnf makecache`

### Describe alternatives you've considered

none

### Additional context

none

[2022-05-26 18:47] oliverkurth commented on #292
This is fixed for `--installed`, but not `--available`. The latter works for `repoquery`, so code could be reused from that.

[2022-05-26 18:51] oliverkurth commented on #241
This is being worked on in PR #314 . The `autoremove` feature is implemented already.

[2022-05-26 18:55] oliverkurth commented on #34
There are two issues to address:
* space for downloading the package before doing the download. We can just check the space for the partition where we store the downloads (`/var/tdnf/cache` unless configured differently).
* space for the actual install. This can be tricky if there are multiple partitions involved.

[2022-05-26 19:04] oliverkurth opened #319 "`autoremove` without args is not implemented"
The `autoremove` feature will remove dependencies when a package is removed, but it does nothing when called without arguments, even when there are packages automatically installed:

[code]

[code]

This should remove `libtirpc`:
[code]

[2022-06-10 21:37] prestonsn commented on #34
PR https://github.com/vmware/tdnf/pull/321 provides a cache directory space check. However, it does not address a potential out of disk space error during RPM installs.

[2022-06-16 20:18] oliverkurth commented on #292
I was wrong - `--available` works:
[code]

[2022-06-16 20:18] #292 closed, assigned to nobody

[2022-06-16 20:43] oliverkurth commented on #282
Sorry for the late update. The `check-local` command does not do what you think it does. The logic is as follows:
* read all rpms from the directory and create a temporary repository
* resolve all rpms as if we wanted to install all of them

So it would give you errors if there is any internal inconsistency, like one package conflicts with another, or with anyone that is installed on your system.

[2022-06-16 20:50] oliverkurth commented on #282
Doc is updated: https://github.com/vmware/tdnf/wiki/Commands#check-local

[2022-06-16 20:50] #282 closed, assigned to nobody

[2022-06-18 20:28] #309 closed, assigned to nobody

[2022-07-06 23:07] oliverkurth commented on #241
PR #314 is merged, closing this.

Note that there are a few outstanding issuers regarding autoinstalled packages which will be addressed in PR #327 .

[2022-07-06 23:07] #241 closed, assigned to nobody

[2022-07-06 23:08] oliverkurth commented on #209
PR #329 is merged, closing issue.

[2022-07-06 23:08] #209 closed, assigned to nobody

[2022-07-11 19:37] oliverkurth commented on #253
Fixed with PR #330.

[2022-07-11 19:37] #253 closed, assigned to nobody

[2022-07-11 22:38] prestonsn opened #334 "Only perform cache directory diskspace check when a download is necessary."
### Is your feature request related to a problem? Please describe.

Current behaviour of the check introduced by https://github.com/vmware/tdnf/pull/321 will verify diskspace regardless of if a download (and hence the cache directory size change) takes place. The call as it is right now looks like:

[code]

As mentioned in this comment https://github.com/vmware/tdnf/pull/321#issuecomment-117922120

[2022-07-20 18:53] #319 closed, assigned to nobody

[2022-08-12 10:27] 0xba1a commented on #133
@keerthanakalyan Can you please give me some background about this issue? 1. Like why the cache directory left unclean? 2. Is this error made more readable in future tdnf releases? 3. Will `tdnf clean all` help here instead of manually deleting the directory?

[2022-08-17 12:13] keerthanakalyan commented on #133
This issue has been fixed in latest releases. Also few other clean command issues has been fixed by @oliverkurth. You can use tdnf clean all command instead of manual delete. Please consume latest release.

[2022-08-18 18:55] Rob-Wal opened #342 "multipackage install error handling - skip-broken or strict option"
### Is your feature request related to a problem? Please describe.

I have search through all the documentation and issues and cannot find the equivalent of --skip-broken or --setopt=strict=0 for tdnf.  When trying to install multiple packages with one missing the entire command fail. I receive error 1011.
eg:
[root@PHT4-Docker01 [ ~ ]# tdnf install zip unzip foo p7zip bash
foo package not found o

[2022-09-14 23:34] oliverkurth commented on #342
Thanks for the suggestion, sorry for replying late - I was on a vacation.

I am looking into this.

[2022-09-17 10:11] Bezkup opened #347 "Error while compiling with cmake"
### Describe the bug

cmake has failed with
[code]
but rpm exists
[code]
What can I do to resolve?

### Reproduction steps

1. clone the repository
2. cd tdnf
3. mkdir build && cd build
4. cmake ..

### Expected behavior

It should make the make file

### Additional context

I'm a newbie in fedora, maybe i did something wrong?

[2022-09-17 16:59] oliverkurth commented on #347
You need the `rpm-devel` package, which includes the header files (and others) needed to build with the rpm libraries. If you install all packages that are installed in this Dockerfile: https://github.com/vmware/tdnf/blob/dev/ci/Dockerfile.fedora you should be covered:
[code]

[2022-09-17 17:32] Bezkup commented on #347
Yes! Thank you, it worked!

[2022-09-17 17:32] #347 closed, assigned to nobody

[2022-09-30 17:42] oliverkurth commented on #154
Let's close this. `tdnf` does not care about the filesystem used, and we don't have enough information to debug this. We can always re-open if this continues to be an issue.

[2022-09-30 17:42] #154 closed, assigned to ssahani

[2022-10-11 00:24] oliverkurth opened #356 "tdnf does not handle source RPMS properly"
### Describe the bug

tdnf does not find source packages:
[code]

Source packages can be installed, however they get then confused with binary packages:
[code]

### Reproduction steps

See above.

### Expected behavior

Handle source RPMs properly.

### Additional context

Issue templates are too rigid.

[2022-10-13 18:26] #342 closed, assigned to nobody

[2022-10-25 23:58] oliverkurth opened #359 "--repofrompath cannot be used together with packages on the command line"
### Describe the bug

tdnf throws an error when trying to install a package on the command line when the --repofrompath option is used.

### Reproduction steps

[code]

### Expected behavior

No error, package should be installed, as in 3.3.1:
[code]

### Additional context

This is a regression in 3.4.0. Version 3.3.1 works.

[2022-10-27 19:17] #359 closed, assigned to nobody

[2022-11-04 20:47] reubeno opened #364 "TDNFRunTransaction should only check for RPM problems on RPM errors"
### Describe the bug

I don't know if this is a bug, so much as a code improvement opportunity.

In discussion of PR #363, @oliverkurth suggested that it would be a good idea to change the logic in `TDNFRunTransaction` to only inspect `pTS` for problems in failure paths coming from rpm operations (e.g., `rpmtsRun`) as opposed to any failed return from that function (e.g., allocation failure).

Wit

[2022-11-14 05:25] aad-griff opened #367 "tdnf: 3.3.1 does not observe package exclusions correctly"
### Describe the bug

when using tdnf version 3.3.1 on VMware Photon 4.0 with the --exclude flag, packages listed as excluded are still included when performing updates.

### Reproduction steps

Exclusion method 1:

[code]

Exclusion method 2:

[code]

### Expected behavior

I would expect package exclusions specified in /etc/tdnf/tdnf.conf or via the --exclude command line switch to be honored wh

[2022-11-14 05:32] sshedi commented on #367
cc: @oliverkurth

[2022-11-14 17:48] oliverkurth commented on #367
Interesting. I am looking into this right now, and looks like I can reproduce it. Thanks for reporting.

[2022-11-14 18:46] oliverkurth commented on #367
Alright, I think I found it. The issue is because the `minversions` feature overrides the excludes. Because we don't test `minversions` and `excludes` at the same time the issue slipped though the tests.

@aad-griff , as a workaround you can remove the directory `/etc/tdnf/minversions.d` (or just rename it as backup). Just don't try downgrades when you do that.

I'll create a PR to fix this soon.

[2022-11-15 00:01] oliverkurth commented on #367
PR #368 has the fix.

[2022-11-16 19:16] #367 closed, assigned to nobody

[2022-11-22 00:31] oliverkurth opened #373 "metalink plugin uses wrong checksum for verification"
### Describe the bug

A metalink file can have multiple checksums. If I understand correctly, these can be tried in order. For example, this is the file for current Fedora 37:
[code]
Note the checksums under `<verification>` directly under `<file>` and then under `<alternate>`. It looks like the metalink plugin uses the last alternate, in this case `cae42f8170b787d255c9f971058af5ad26159aab36b97c5b

[2022-11-22 20:26] #364 closed, assigned to nobody

[2022-11-22 20:28] oliverkurth commented on #34
I think we can close this. The first item is addressed. The second is actually also addressed - it will be detected by the rpm backend, when the transaction is attempted.

[2022-11-22 20:28] #34 closed

[2022-11-24 05:27] ntsbtz commented on #373
@oliverkurth It is checking for all the checksum not only the last one. So when it starts lets have an example of above metalink file.
So first it will check for md5 and if its a valid checksum it will store into the context. Next it will check for sha1 now it will give the priority to sha1 and if its valid it will update the stored hash context. Like this if next one is sha256 and its valid it wi

[2022-11-28 22:02] oliverkurth commented on #373
I made a fix here: https://github.com/vmware/tdnf/pull/374. The actual fix is in this commit: https://github.com/vmware/tdnf/pull/374/commits/5196eca2c59d69c0884c601b2653b157307ed7f9 . The code now finds the best checksum type and the tests all of that type.